name: Update README

on:
  schedule:
    - cron: '0 0 * * *' # Runs every day at midnight UTC
  workflow_dispatch: # Allows manual triggering

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Update README timestamp
        run: |
          sed -i "s/<!-- Last updated on: .* -->/<!-- Last updated on: $(date -u) -->/" README.md

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "fix: Add workflow to update README and refresh stats"
          branch: main
          file_pattern: README.md
          commit_user_name: "GitHub Actions"
          commit_user_email: "actions@github.com"
          commit_author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"