name: Update README stats

on:
  schedule:
    - cron: '0 0 * * *' # Runs every day at midnight
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: teoxoy/profile-readme-stats@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          login: aliahmad1967
          section_name: stats